html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
}
.section-title {
  font-weight: bolder;
  margin-bottom: 0;
}
.hr-style {
  border: 5px dotted rgb(250, 10, 10);
  border-bottom: none;
  width: 50px;
  margin: auto;
}
/* header start */
header {
  background-image: url("imges/p3.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.navbar {
  padding: 1% 10%;
  background-color: rgba(0, 0, 0, 0.3);
}
.navbar-icon {
  color: white;
}
.navbar-brand img {
  width: 60px;
  height: auto;
}
.nav-link {
  color: white;
  margin: 10px;
  border-radius: 5px;
  transition: 0.4s;
}
.nav-link:hover {
  color: white;
  background-color: rgb(180, 24, 185);
  transform: scale(1.1);
}
.banner-container {
  height: 100vh;
}
.banner-container h1 {
  font-size: 3.5rem;
  background-color: rgb(102, 146, 192);
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "Handlee", cursive;
}
/* header end */

/* features start */
#features {
  padding: 4% 10%;
  background: #e8ded2;
}
.features-col {
  border: 1px solid #ff02c0;
  border-radius: 5px;
  padding: 15px;
  margin: 20px 0px;
  transition: 0.4s;
}
.features-col:hover {
  transform: scale(1.1);
  box-shadow: 2px 6px 5px black;
}
.icon-style {
  background: #bb0aac;
  color: white;
  padding: 15px;
  margin: 5px;
}
/* features end */

/* about me start */

#about-me {
  background: #e8ded2;
  padding: 4% 10%;
}

#about-me p {
  font-size: 0.9rem;
  margin-bottom: 0;
  font-weight: lighter;
}
#about-me a {
  font-size: 0.9rem;
  margin-bottom: 0;
  color: red;
  font-weight: lighter;
  text-decoration: underline;
}
.achieve-desc {
  font-weight: bolder;
}
.achieve-desc span {
  font-weight: 700 !important;
}

.star i {
  width: 20px;
}
/* about me end */

/* tutorial card start */
#tutorial {
  padding: 4% 10%;
  background-color: #a3d2ca;
}
.card {
  transition: 0.4s;
  border: 1px solid #ff02c0;
  margin-bottom: 20px;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 2px 6px 5px black;
}
/* tutorial card end */

/* feedback start  */
#feedback {
  color: white;
  background-color: rgb(70, 36, 102);
  padding: 4% 10%;
}
.hr-style {
  border: 5px dotted white;
  border-bottom: none;
  margin: auto;
  width: 50px;
}
.carousel-item {
  padding: 7% 15%;
  text-align: center;
  font-style: italic;
  font-size: 1.2rem;
}
.carousel-indicators {
  bottom: -20px;
}
/* feedback end  */

/* contact start  */
#contact {
  padding: 4% 10%;
  color: white;
  background-color: #2777ac;
}
.form-group label {
  color: rgb(7, 7, 7);
  font-weight: bold;
}
/* contact ends  */

/* footer start  */
footer {
  color: #e8ded2;
  padding: 1% 10%;
  background-color: #2f13ad;
}
footer a {
  color: white;
  padding: 8px;
}
footer a:hover {
  color: rgb(196, 41, 41);
}
/* footer end */

@media (max-width: 768px) {
  .nav-link {
    background: rgba(0, 0, 0, 0.7);
  }
}
